@using BlazorServerAuthentication.Navigation
@using BlazorServerAuthentication.Sample.Web.Pages

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <NotAuthorizedDisplay RedirectImmediately="false">
                        <ChildContent Context="Login">
                            <p>You are not authorized. Click below to sign in.</p>
                            <button @onclick="async () => await Login()">
                                Sign In
                            </button>
                        </ChildContent>
                    </NotAuthorizedDisplay>
                </NotAuthorized>
                <Authorizing>
                    <p>Authorizing...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <AuthenticateOnNavigation></AuthenticateOnNavigation>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
